*
{
    margin: 0px;
    padding: 0px;
    font-family: "Roboto";
}

.container
{
    text-align: center;
}

.img
{
    background-image: url("../img/staff1.png");
    width: 100%;
    background-size: cover;
    height: 490px;
    
}

.overlay
{
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}
.overlay img
{
    width: 45%;
    margin-top: 7%;
    margin-left: 30%;
    margin-left: 4%;
    border-radius: 0;
}

.nav
{
    
    text-align: center;
    overflow: hidden;
    padding: 20px;
    position: fixed;
    top: 0px;
    background : rgba(0, 0, 0,0.5);
    width: 100%;
    z-index: 1;
}
.home
{
    border-top: 4px solid #EF4135;
}
.nav a
{
    text-transform: uppercase;
    font-size: 18px;
    color: #EF4135;
    text-decoration: none;
    padding: 18px 20px 20px;
}
.nav a:hover
{
    border-top: 3px solid #EF4135; 
}
.staff
{
    text-align: center;
    height: 80px;
    background-color: #215A9E;
    margin: auto;
    color: white;
    font-size: 46px;
    padding-top: 40px;
    padding-bottom: 10px;
    
}

.father
{
    background-image: url("../img/baking3.jpg");
    
    padding: 50px 200px;
    margin: auto;
    overflow: hidden;
}
.son
{
    float: left;
    margin: 40px 0;
    text-align: center;
    width: 450px;
    border-radius: 10px;
    overflow: hidden;
}
.s1
{
    background: #215A9E;
    padding: 20px;
    display: 
}
img
{
    width: 48%;
    border-radius: 50% 25%;
}
.s2
{
    background: #EF4135;
    font: normal bold 37px "Times New Roman";
    color: white;
}
.s3
{
    padding: 35px;
    text-align: left;
    background: #DDD;
    font-size: 22px;
    height: 440px;
    position: relative;
}
.mf
{
    /*position: absolute;
    bottom: 20px;*/
}

.inf
{
    margin: 20px 2px;
    position: absolute;
    bottom: 20px;
    font-size: 18px;
}

li
{
    margin-left: 20px
}

.img2
{
    width: 50%;
    border-radius: 50% 25%;
}
.clear
{
    clear:both;
}
.lc
{
    background-color: #215A9E;
    width: auto;
    min-height: 600px;
    color: white;
    
}
.top
{
    padding: 60px;
}
.top p
{
    font-size: 35px;
    word-spacing: 10px;
    letter-spacing: 5px;
}
.feed
{
    float: left;
    width: 50%;
}
.feed p
{
    font-weight: bold;
    padding-bottom: 30px;
}
.feed input
{
    width: 500px;
    height: 25px;
    margin: 10px;
}
textarea
{
    width: 500px;
    height: 100px;
    margin: 10px;
}
.map p
{
    font-weight: bold;
    padding-bottom: 15px;
}
button
{
    padding: 10px;
    margin-top: 5px;
    color: #215A9E;
    font-weight: bold;
}
.zoom{
    animation: zoom 2s ease
}
@keyframes zoom
{
    from{
        transform: scale(0);
    }
    to{
        transform: scale(1);
    }
}