*{
    padding: 0px;
    margin: 0px;
}
.nav{
    
   text-align: center;
    overflow: hidden;
    padding: 20px;
    position: sticky;
    top: 0px;
    background : rgba(114, 140, 127,0.2);
    width: 100%;
    
}
.nav a
{
    text-transform: uppercase;
    font-size: 18px;
    color: #EF4135;
    text-decoration: none;
    padding: 18px 20px 20px ;
}
.nav a:hover{
    text-decoration: overline;
    color: black;
    
}
.lc{
     background-color: black;
    width: auto;
    min-height: 700px;
    color: white;
}
.feed input{
    width: 500px;
        height: 25px;
        margin: 10px;
    
}
.top p{
    letter-spacing: 4px; 
    font-size: 35px;
}
.top{
    text-align: center;
    padding: 60px
}
.feed{
    text-align: center;
    width: 50%;
    height:500px;
    float: left;
    overflow: hidden;
}
textarea{
   width: 500px;
    height: 100px;
    margin: 10px;
}
input{
    
       
        margin: 10px;
}
.map{
    float: right;
    text-align: center;
     width: 50%;
    height:500px;
    overflow: hidden;
}
.feed p{
   font-weight: bold;
    padding-bottom: 30px;
}
button
{
    padding: 10px;
    margin-top: 5px;
    color: #215A9E;
    font-weight: bold;
}
.map p
{
    font-weight: bold;
    padding-bottom: 15px;
}
.bigburger{
    width: auto;
    height: 1200px;
    overflow: hidden;
    background-image:url(PFiygHn%20-%20Imgur.png);
    background-repeat:   no-repeat;
    background-position: center;
    background-color: crimson;
}

.b1,.b2,.b3,.b4,.b5,.b6,.b7,.b8,.b9,.b10,.b11,.b12,.b13,.b14,.b15,.b16{
    width:  20%;
    height: 200px;
    display: inline-block;
    color: crimson;
    background-color: blue;
    margin: 10px 25px;
    border: inset black;
}
.bb1 p,.bb2 p,.bb3 p,.bb4 p,.bb5 p,.bb6 p,.bb7 p,.bb8 p,.bb9 p,.bb10 p,.bb11 p,.bb12 p,.bb13 p,.bb14 p,.bb15 p,.bb16 p{
    visibility:hidden;
    
}
.bb1:hover p,.bb2:hover p,.bb3:hover p,.bb4:hover p,.bb5:hover p,.bb6:hover p,.bb7:hover p,.bb8:hover p,.bb9:hover p,.bb10:hover p,.bb11:hover p,.bb12:hover p,.bb13:hover p,.bb14:hover p,.bb15:hover p,.bb16:hover p{
    visibility:visible;
    
}

.our{
   
    overflow: hidden;
    text-align: center;
    background-color: black;
    background-image: url(buffalo_logo.png); 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: crimson;
  
    width: 100%;
   height: 220px;   
   
}
.our p{
    font-size:100px;
    font:solid;
    letter-spacing: 4px;
    
}
.dis{
   
    overflow: hidden;
    text-align: center;
    background-color: black;
    background-image: url(Transparent_Strawberry_Ice_Cream_Waffle%20Basket_PNG_Picture.png)  ; 
    background-size: contain;
    background-position: center;
    background-repeat: no-repeat;
    color: crimson;
    margin-top: 30px;
    width: 100%;
   height: 220px;   
   
}
.dis p{
    font-size:100px;
    font:solid;
    letter-spacing: 4px;
    
}
.waffle{
      width: auto;
    height: 1200px;
    overflow: hidden;
    background-image:url(PFiygHn%20-%20Imgur.png);
    background-repeat:   no-repeat;
    background-position: center;
    background-color: crimson;
}
.w1,.w2,.w3,.w4,.w5,.w6,.w7,.w8,.w9,.w10,.w11,.w12,.w13,.w14,.w15,.w16{
    width:  20%;
    height: 200px;
    display: inline-block;
    color: crimson;
    background-color: yellowgreen;
    margin: 10px 25px;
    border: inset black;
}
.ww1 p,.ww2 p,.ww3 p,.ww4 p,.ww5 p,.ww6 p,.ww7 p,.ww8 p,.ww9 p,.ww10 p,.ww11 p,.ww12 p,.ww13 p,.ww14 p,.ww15 p,.ww16 p{
    visibility:hidden;
    
}
.ww1:hover p,.ww2:hover p,.ww3:hover p,.ww4:hover p,.ww5:hover p,.ww6:hover p,.ww7:hover p,.ww8:hover p,.ww9:hover p,.ww10:hover p,.ww11:hover p,.ww12:hover p,.ww13:hover p,.ww14:hover p,.ww15:hover p,.ww16:hover p{
    visibility:visible;
    
}


.nameb{
   text-align: center;
    background: black;
    
}
.price{
    
    background: black;
    margin-top: 160px;
    margin-left: 90px;
    width:33%;
    border: 1px solid black;
    border-radius:9px;
}
